* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

header {
  padding: 4rem 12rem;
  background-color: magenta;
  color: white;
}

nav {
  display: flex;
  justify-content: end;
  gap: 1rem;
  padding: 2rem 12rem;
}

nav a {
  color: magenta;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

#hero {
  width: 80vw;
  height: 500px;
  margin: auto;
  object-position: center;
  overflow: hidden;
  /* background-color: magenta; */
  background-image: url(img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.grid-layout {
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 1rem; /* jarak antar kolom opsional */
  padding: 0 12rem;
}
#products {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 kolom per baris */
  gap: 2rem; /* jarak antar card */
  margin-bottom: 4rem;
}

#products .card {
  /* border: 1px solid #000; */
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  font-weight: bold;
}

#products .card img {
  width: 100%;
  margin-bottom: 10px;
}

#products .card .prod-name {
  font-size: 20px;
  margin-bottom: 10px;
}

#products .card .prod-price {
  font-size: 24px;
  color: magenta;
  margin-bottom: 10px;
}

#aside {
  /* background: #bbdefb; */
  padding: 1rem;
}

#aside .recommendation {
  color: magenta;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  margin-bottom: 1rem;
}

#aside img {
  width: 100%;
}

footer {
  background-color: magenta;
  color: white;
  padding: 6rem 12rem;
  display: flex;
  justify-content: space-between;
  /* gap: 4rem; */
}

.form > * {
  display: block;
}

.form label {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 1rem;
}

.form input {
  font-size: 18px;
  min-width: 400px;
  padding: 1rem 1rem;
  border: none;
  border-radius: 5px;
}

footer .links {
  display: flex;
  flex-direction: column;
}

.links p {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 1rem;
}

.links a {
  font-size: 18px;
  text-decoration: none;
  color: white;
}
